<table>
  <tr class='list' data-url="<%= attendences_path(user_id: @user.id) %>">
    <td><b><%= @user.id %></b></td>
    <td><%= @user.email %></td>
    <td><%= @user.role %></td>
    <td><%= link_to 'Edit', edit_admin_user_path(@user) %></td>
    <td><%='View_attendences'%></td>
  </tr>
</table>