<h1>Attendance form</h1>
<div class="container">
  <%#unless @attendence.out_time %>
    <%#if ((Time.now.hour >= 12) || (Time.now.hour >= 17 )) && !@attendence.id %>
      <!-- You cannot mark attendence, its absent marked already. -->
    <%# else %>
      <%= form_with model: @attendence, local: true do |f| %>
        <% if !@attendence.id %>
          <%= f.label :in_time %> <br/>
          <%= f.time_field :in_time, :format=>"%H:%M", required: true, class: 'form-control' %><br>
        <%# if (Time.now.hour >= 9) && (Time.now.hour <=17) %>
        <% else %>
          <%= f.time_field :in_time, :format=>"%H:%M", disable: true, readonly: true, class: 'form-control' %><br>
          <%= f.label :out_time  %><br />
          <%= f.time_field :out_time, :format=>"%H:%M", required: true, class: 'form-control' %><br>

          <%= f.label :break %><br />
          <%= f.number_field :break, required: true, class: 'form-control' %><br>
        <% end %>


        <%# if (Time.now.hour >= 17) && (Time.now.hour <= 21) %>
        <%# else %>
          <!-- <p> There is time remaining to mark attendence!!</p> -->
        <%# end %>

        <%= f.submit :save %>
      <% end %>
    <%# end %>
  <%# else %>
    <!-- Today's attendence is completely filled(intime, outtime), please come tomorrow. -->
  <%# end %>
</div>