<h2>Create User</h2>
<div class="container">
  <%= form_for(@user, :remote => true) do |f| %>

  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, required: true, class: 'form-control' %><br>

  <%= f.label :password %><br />
  <%= f.password_field :password, required: true, autocomplete: "off", class: 'form-control' %><br>

  <%= f.select :role, ['admin', 'employee']%>
  <%= f.submit :save %>
  <% end %>

</div>