<div>
  <h1> All Users</h1>
  <table> 
    <tr>
      <th>User_id</th>
      <th>Email</th>
      <th>Role</th>
      <th>Action</th>
      <th></th>
    </tr>
      <% @user.each do |user| %>
        <tr class='list' data-url="<%= attendences_path(user_id: user.id) %>">
          <td><b><%= user.id %></b></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
          <td><%='View_attendences'%></td>
        </tr>
      <%end%>
  </table>
</div>
<div id= "attendence_list" >
</div>
<div id= "myModal">
  <div class="modal fade" id="myModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel"
  aria-hidden="true">
  </div>
</div>
<div style="text-align: center;" id="createUser">
  <%= link_to 'Create User', new_admin_user_path, remote: true, class: 'btn btn-info btn-lg' %>
</div>
<%= link_to 'Open Attendence List', show_list_path, remote: true, class: 'btn btn-info btn-lg' %><br />
<%= link_to 'Back', home_path, class: 'btn btn-info btn-lg' %>
