<div id= "allUser">
  <h1> All Users</h1>
  <table> 
    <tr>
      <th>User_id</th>
      <th>Email</th>
      <th>Role</th>
      <th>Action</th>
      <th></th>
    </tr>
      <% @users.each do |user| %>
        <tr class='list' data-url="<%= attendences_path(user_id: user.id) %>">
          <td><b><%= user.id %></b></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td><%= link_to 'Edit', edit_admin_user_path(user), remote: true %></td>
          <td><%='View_attendences'%></td>
        </tr>
      <%end%>
  </table>
</div>
<div id= "attendence_list" >
</div>
<div id= "myModal">
  <div class="modal fade" id="myModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel"
  aria-hidden="true">
  </div>
</div>
<STYLE type="text/css">
  div#error {font-style: bold; color: red}
</STYLE>
<div id= "error" style="text-align: center;">
</div>
<div style="text-align: center;">
  <%= link_to 'Create User', new_admin_user_path, remote: true %>
  <div id= "user">
  </div>
</div>


<%= link_to 'Open Attendence List', show_list_path, class: 'btn btn-info btn-lg', remote: true  %><br />
<%= link_to 'Back', home_path, class: 'btn btn-info btn-lg' %>
